<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid" style="max-width: none;">
	  <div class="row">
		<div class="flex-container" style="padding: none;">
			<div class="flex-item">
				<a href="http://www.ovcare.ca/" target="_blank">
					<img src="/assets/project_pic/ovcare-logo.png" width="175px">
				</a>
			</div>
			<div class="flex-item">
				<a href="https://www.bme.ubc.ca/" target="_blank">
					<img src="/assets/project_pic/ubc-bme-sm-cropped.png" width="260px">
				</a>
			</div>
			<div class="flex-item">
				<a href="https://pathology.ubc.ca//" target="_blank">
					<img src="/assets/project_pic/path-ubc-cropped.gif" width="170px">
				</a>
			</div>
			<div class="flex-item">
				<a href="https://www.vchri.ca/" target="_blank">
					<img src="/assets/project_pic/vch-logo.png" width="175px">
				</a>
			</div>
		</div>
		<div class="col-sm-4" style="width: 100%; text-align:center;">
		  <p style="font-family: 'Open Sans'; font-size: 12px;  margin: 8px 0px 0px; color: #636363;">&copy 2023 AIM Lab.</p>
		</div>  
            
		<!-- <div class="col-sm-4">
		  Address:<br />
		  Jack Bell Research Center, <br />
		  2660 Oak St, <br />
		  Vancouver, BC, Canada<br />
		</div> -->
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
