
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    display: flex;
    min-height: 100vh;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

body {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 1.428571429;
    margin: 0;
    color:#292929;
    background-color: #f9f9f9;
    //padding-top: 70px;
}

img {
    margin-bottom: 24px; 
    margin-top: 17px; 
    border-radius:0%;
}

a {
    color: $logo-orange;
    text-decoration: none;;
}

a:hover {
    color: #1f66ff;;
}

pubtit {
	font-weight: bold;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.container-full {
  margin-right: auto;
  margin-left: auto;
}

/* Team & Publications */
#gridid img { margin: 0 15px 15px 15px;}
#projectid img { margin: 16px 22px 6px 12px; }
#projectid .row { margin-bottom: 24px; }
#homeid img { margin: 0 0 0 0;}
#picid img { margin: 6px 3px 60px 6px;}
#gridid .row { margin-bottom: 0px; }

.col-half {
    width: 50%;
}

@media (max-width: 768px) {
    .col-half { width: 100%; }
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
    color: $logo-orange;
    width: 45px !important;
    height: 45px !important;
    font-size: 45px !important;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    width: 100%;
}

.flex-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.flex-item img {
    max-width: 100%;
    height: auto;
}

body {
    color: $text-black;
}

.panel-footer{
    background-color: #ffffff;
    border: none;
    //background-image: linear-gradient(white, #ffe9d5);
}

.panel {
    border: none;
}

.img-responsive {
    height: 200px;
    width: 150px;
    object-fit: cover;
    //box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5);
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn {
    font-weight:bold;
    transition: 0.3s ease;
    text-transform: none;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    color: $text-black;
    text-align: center;
}

.btn:hover {
    color: $logo-orange !important;
    text-decoration: none;
}

.btn:active {
    margin-top: 0px;
    border-bottom-width: 1px;
}

.active-link {
    font-weight: bold;
}

.icon {
    color: #f15a29;
    font-size: 20px !important;
}

.team-row {
    display: flex;
    flex-direction: row;
}

.jobs-container {
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
    .twitter-container { display: none !important; }
    .front-btn { font-size: 32px }
}

@media (max-width: 768px ) {
    .team-row { flex-direction: column !important; }
}

.publications-hero-container {
    position: relative;
    height: calc(30vh);
    background-color: rgb(255, 255, 255);
    background-image: url('/img/glass-slides.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    overflow: hidden;
    display: none;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 768px) {
    .publications-hero-container {
        display: flex;
    }
}

.publications-title {
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
}

.news-hero-container {
    position: relative;
    height: calc(30vh);
    background-color: rgb(255, 255, 255);
    background-image: url('/img/news.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.careers-hero-container {
    position: relative;
    height: calc(30vh);
    background-color: rgb(255, 255, 255);
    background-image: url('/img/CLEANZONE_crop.JPG');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 768px ) {
    .careers-hero-container {
        height: calc(17vh);
    }
}

.gallery-hero-container {
    position: relative;
    height: calc(30vh);
    background-color: rgb(255, 255, 255);
    background-image: url('/img/GALLERYBANNERAIM.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust column sizes */
    padding: 0 20px;
    align-items: center;
}
  
.gallery-item {
    position: relative;
    overflow: hidden;
}
  
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
  
.gallery-item img:hover {
    transform: scale(1.1);
}

.news-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 20px;

}

@media (max-width: 768px ) {
    .news-container {
        flex-direction: column;
    }

    .linkedin-col {
        max-height: 300px;
        overflow-y: auto;
        overflow-x: auto;
    }
}

.linkedin-col {
    display: flex;
    justify-content: center;
    max-height: 1140px;
}

.twitter-col, .linkedin-col {
    flex-basis:50%
}

.styled-list {
    list-style: none; /* Remove default bullets */
    padding-left: 20px; /* Indent the list */
}

.styled-list li {
    margin-bottom: 10px; /* Space between items */
    position: relative;
    padding-left: 30px; /* Space for custom bullet */
}

.styled-list li::before {
    content: "❐"; /* A decorative bullet point */
    color: #6c757d; /* Subtle color for the bullet */
    position: absolute;
    left: 0;
    font-size: 1.2em;
}

.scrollbox {
    max-height: 650px;
    overflow-y: auto;
    overflow-x: hidden;
    /* border: 1px solid #ccc; */
    padding: 10px;
    background-color: #ffffff;
    /* border-radius: 5px; */
}